<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./style2.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <title>Teste Icolabora</title>

</head>

<body>
    <div id="app">
        <div>
            <h1>{{ title }}</h1>
            <table key="dados" class="mainTable">
                <thead>
                    <tr class="meContrata">
                        <th>Tarefa</th>
                        <th>Vencido</th>
                        <th>D0</th>
                        <th>D1</th>
                        <th>D2</th>
                        <th>D3</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="process in processes" >
                        <td v-bind:class="{blackTotal: process.TAREFA==='Total', columnTarefa: process.TAREFA!=='Total'}" @click="showDrilldown(process.DRILLDOWN)">{{process.TAREFA}}</td>
                        <td v-bind:class="{blackTotal: process.TAREFA==='Total', columnVencido: process.TAREFA!=='Total'}" @click="showDrilldown(process.DRILLDOWN, 'VENCIDO')">{{process.VENCIDO}}</td>
                        <td v-bind:class="{blackTotal: process.TAREFA==='Total', columnD0: process.TAREFA!=='Total'}" @click="showDrilldown(process.DRILLDOWN, 'D0')">{{process.D0}}</td>
                        <td v-bind:class="{blackTotal: process.TAREFA==='Total', columnD1: process.TAREFA!=='Total'}" @click="showDrilldown(process.DRILLDOWN, 'D1')">{{process.D1}}</td>
                        <td v-bind:class="{blackTotal: process.TAREFA==='Total', columnD2: process.TAREFA!=='Total'}" @click="showDrilldown(process.DRILLDOWN, 'D2')">{{process.D2}}</td>
                        <td v-bind:class="{blackTotal: process.TAREFA==='Total', columnD3: process.TAREFA!=='Total'}" @click="showDrilldown(process.DRILLDOWN, 'D3')">{{process.D3}}</td>
                        <td v-bind:class="{blackTotal: process.TAREFA==='Total', columnTotal: process.TAREFA!=='Total'}" @click="showDrilldown(process.DRILLDOWN)">{{process.TOTAL}}</td>
                    </tr>
                </tbody>
            </table>
            <table key="drilldown" class="drillTable" v-show="drilldown.length">
                <thead>
                    <tr class="meContrata">
                        <th>INSTANCIA</th>
                        <th>STATUS</th>
                        <th>PROTOCOLO</th>
                        <th>REGUA</th>
                        <th>inicio</th>
                        <th>SLA</th>
                        <th>TIPO_SOLICITACAO</th>
                        <th>operador</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="drill in drilldown">
                        <td class="drillData">{{drill.INSTANCIA}}</td>
                        <td class="drillData">{{drill.STATUS}}</td>
                        <td class="drillData">{{drill.PROTOCOLO}}</td>
                        <td class="drillData">{{drill.REGUA}}</td>
                        <td class="drillData">{{drill.inicio}}</td>
                        <td class="drillData">{{drill.SLA}}</td>
                        <td class="drillData">{{drill.TIPO_SOLICITACAO}}</td>
                        <td class="drillData">{{drill.operador}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                title: 'Teste Icolabora por: Andreos Heller',
                processes: null,
                drilldown: [],
            },
            methods: {
                getProcesses() {
                    fetch('https://ico-fullstack-test.herokuapp.com/v1/histograma')
                        .then(resp => resp.json())
                        .then(data => this.processes = data)
                },

                showDrilldown(drill, regua = null) {
                     if (regua === null) { 
                        this.drilldown = drill
                        console.log(this.drilldown)
                     } else {
                        this.drilldown = drill.filter((obj) => {
                            return obj.REGUA === regua
                        })
                    } 
                }
            },
            
            mounted() {
                this.getProcesses()
            }
        })
    </script>
</body>

</html>