table, td, th {
    /* border: 1px solid rgb(76, 76, 76); */
    border-style: groove;
    border-width: 1px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    height: 50px;
    
    /* text-align: center; */
}    
body {
    font-family: "Times New Roman", sans-serif;
    font-weight: bold;
    font-size:16px;
}
.drillTable {
    margin-top: 30px;
}

.columnTarefa:hover {
    background-color: #3fc3a2;
}
.columnTarefa {
    background-color: #e9edec;
    text-align: left;
    padding-left: 20px;
    width: 35%;
    cursor: pointer;
}
.columnD0 {
    background-color: #f96585;
    text-align: center;
    width: 10%;

}
.columnD1 {
    background-color: #f98585;
    text-align: center;
    width: 10%;

}
.columnD2 {
    background-color: #f9a385;
    text-align: center;
    width: 10%;
}
.columnD3 {
    background-color: #d6ad44;
    text-align: center;
    width: 10%;
}
.columnVencido {
    background-color: #8fd5df;
    text-align: center;
    width: 15%;
}
.columnTotal {
    background-color: #8fd5df;
    text-align: center;
    width: 10%;
}
.thead {
    background-color: #000628;
    color: #ffffff;
}
