.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 1rem;

  h1 {
    color: #424242;
    font-size: 4rem;
    font-weight: 400;
  }
}
