/*style.css*/
/* STYLE */
.padrao {
   background: rgb(127, 236, 255)!important;
}

.d0 {
  background: #f96585!important;
}

.d1 {
  background: #f98585!important;
}

.d2 {
  background: #f9a385!important;
}

.d3 {
  background: #f8b9a3fb!important;
}
/*END STYLE*/
