* {
  margin: 0;
  padding: 0;
}
#app {
  padding: 0;
}

:root {
  --gray: #424242;
  --gray-light: #303030;
  --blue-dark: #102938;
  --cyan-light: #b2ebf2;
  --cyan-light-hover: #ace4ea;
  --cyan-dark: #3fc3a2;
  --red: #f96585;
  --red-light: #f98585;
  --orange: #f9a385;
  --orange-hover: #f19e81;
  --yellow: #f9be85;
  --yellow-hover: #f9be85;

  /* border radius */
  --radius-lg: 20px;
  --radius-md: 15px;
  --radius-sm: 10px;

  /* Spacement */
  --spacing-xxxs: 0.5rem;
  --spacing-xxs: 1rem;
}
